@import "../../styles/theme/color";
@import "../../styles/theme/fonts";

.content-shopping{
    margin-top:40px;

    .subtitle{
        color: var(--gray-700);
    }

    .title{
        color: var(--gray-700);
    }

    .subtitle-box{
        color: var(--gray-600)
    }

    .box-adress{
        background-color: var(--gray-200);
        padding: 40px;
        border-radius: 6px;

        .color-map-icon{
            color: var(--yellow-dark)
        }

        .box-textField{
            margin-top:32px;
            .big-text-field{
                width:80%
            }
            .smalltext-field{
                width:20%;
            }

            .text-field{
                background-color: var(--gray-300);
                border-color: var(--gray-400);
            }

            .slot-textfield{
                font-size: var(--sx);
                font-style: italic;

            }
        }
        
    }

    .box-payment-type{
        background-color: var(--gray-200);
        padding: 40px;
        border-radius: 6px;
        width: 100%;

        .color-icons{
            color: var(--purple);
        } 

        .btn-payment-type{
            background-color: var(--gray-400);
            padding: 16px;
            text-align: center;
            border-radius: 6px;
            cursor: pointer;

            &.selected{
                background-color: var(--purple-light);
                border: 1px solid var(--purple);
                &:hover{
                    background-color: var(--purple-light);
                    .payment-type-text{
                        color: var(--gray-700);
                    }
                }
            }

            &:hover{
                background-color: var(--gray-500);
                .payment-type-text{
                    color: var(--gray-900);
                }
            }

            .payment-type-text{
                color: var(--gray-700);
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}